@charset "UTF-8";
/*----Variables--*/
@font-face {
  font-family: Yerbaluisa;
  src: url(../fonts/yerbaluisa_demo-font-FFP.ttf); }

@font-face {
  font-family: SemiCondensed;
  src: url(../fonts/OpenSans_SemiCondensed-SemiBold.ttf); }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  background-color: #fff6f1; }

/*---Menu de navegacion---*/
.header {
  background-image: url(../images/FONDO-Inicio-Página-Web.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 800px;
  /*---ANIMATION---*/ }
  .header .nav {
    height: 70px;
    background-color: #af4b2c;
    display: flex;
    justify-content: space-between;
    z-index: 999; }
    .header .nav .item {
      font-size: 25px;
      margin-top: 12px;
      margin-left: 10%; }
    .header .nav a {
      text-decoration: none;
      color: white; }
  .header .nav-items {
    display: none;
    margin-right: 200px;
    margin-top: 25px; }
  .header .nav-menu-link {
    color: black;
    line-height: 20px;
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Noto Serif", serif;
    margin-left: 10px; }
  .header .menu-btn {
    margin-top: 10px;
    margin-right: 14%;
    color: white;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    cursor: pointer;
    transition: all 0.5s ease-in-out; }
    .header .menu-btn .menu-btn_burguer {
      width: 25px;
      height: 2px;
      background: white;
      border-radius: 5px;
      transition: all 0.5s ease-in-out; }
    .header .menu-btn .menu-btn_burguer::before,
    .header .menu-btn .menu-btn_burguer::after {
      content: "";
      position: absolute;
      width: 25px;
      height: 2px;
      background: white;
      border-radius: 5px;
      transition: all 0.5s ease-in-out; }
    .header .menu-btn .menu-btn_burguer::before {
      transform: translateY(-10px); }
    .header .menu-btn .menu-btn_burguer::after {
      transform: translateY(10px); }
  .header .menu-btn.open .menu-btn_burguer {
    transform: translateX(-45px);
    background: transparent;
    box-shadow: none; }
  .header .menu-btn.open .menu-btn_burguer::before {
    transform: rotate(45deg) translate(35px, -35px); }
  .header .menu-btn.open .menu-btn_burguer::after {
    transform: rotate(-45deg) translate(35px, 35px); }

.sticky {
  transition: all 0.25s;
  width: 100%;
  background-color: #5d5959;
  position: fixed;
  transition: all 0.25s; }

.container {
  display: flex;
  justify-content: center;
  align-items: center; }

.logo {
  width: 550px;
  height: auto; }

.little-logo {
  width: 75px; }
  .little-logo .img-logo {
    opacity: 0%;
    padding: 2px; }

/*   .logoMin {
      width:196px;
      height: 166px;
					-webkit-transition: all 0.5s ease;
					-moz-transition: all 0.5s ease;
					-ms-transition:all 0.5s ease;
					-o-transition:all 0.5s ease;
					transition:all 0.5s ease;
  }
 */
/*---Cuerpo de la pagina---*/
/*---titulo---*/
.nuestros-productos {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px; }
  .nuestros-productos h2 {
    font-family: Yerbaluisa;
    font-size: 80px;
    padding: 0px 30px 0px 30px; }

/*---carrousel--*/
.for_slick_slider {
  margin: 50px 0px 40px 0px;
  display: flex; }
  .for_slick_slider .items {
    height: 250px;
    margin: 50px; }
    .for_slick_slider .items img {
      border: 3px solid #af4b2c;
      width: 350px;
      height: 250px;
      transition: all linear 0.4s; }
    .for_slick_slider .items .pizza-title {
      font-family: "Noto Serif", serif;
      text-align: center;
      color: #af4b2c;
      transform: translateY(-60px);
      transition: all linear 0.4s; }
    .for_slick_slider .items p {
      transition: all linear 0.4s; }

.slick-track {
  height: 600px; }

.slick-center .pizza-title {
  transform: translateY(-60px);
  font-size: 50px; }

.slick-center p {
  transform: translateY(60px);
  font-family: "Noto Serif", serif;
  font-size: 25px;
  opacity: 1;
  transition: all 0.4s ease-in-out; }

.slick-center img {
  transform: scale(1.2); }

.slick-arrow {
  width: 50%;
  margin-top: 8%; }

.tituloHistoria {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Yerbaluisa; }
  .tituloHistoria h2 {
    font-size: 80px;
    padding: 0px 30px 0px 30px; }

.historiaContainer {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  padding: 40px; }
  .historiaContainer div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 5px;
    border-style: solid;
    border-color: #af4b2c; }
  .historiaContainer div p {
    width: 100%;
    height: 100%;
    padding: 40px;
    text-align: justify;
    font-family: SemiCondensed;
    font-size: 20px;
    border: 5px;
    border-style: double;
    border-color: #af4b2c; }

.historia1 {
  display: grid;
  grid-template-columns: 2fr 60px 1fr;
  grid-template-rows: auto;
  padding-bottom: 20px;
  padding-right: 20px; }

.historia2 {
  display: grid;
  grid-template-columns: 1fr 60px 2fr;
  grid-template-rows: auto; }

/*---titulo---*/
.tituloUbicacion {
  display: flex;
  justify-content: center;
  align-items: center; }
  .tituloUbicacion h2 {
    font-family: Yerbaluisa;
    font-size: 80px;
    padding: 0px 30px 0px 30px; }

.sectionUbicacion {
  padding: 8px;
  display: flex;
  align-content: center;
  flex-direction: column; }

.map {
  height: 400px;
  width: 100%;
  border: 5px solid #af4b2c; }

.footer-container {
  background-color: #af4b2c;
  bottom: 0;
  display: flex;
  justify-content: space-around; }
  .footer-container .footer-logo {
    width: 160px;
    margin-left: 125px; }
  .footer-container .footerSections {
    margin: 10px; }
    .footer-container .footerSections a {
      font-family: SemiCondensed;
      display: flex;
      flex-direction: column;
      color: white;
      text-decoration: none;
      font-size: 20px;
      padding: 6px;
      align-items: center;
      transition: all 0.4s;
      border-radius: 20px; }
    .footer-container .footerSections a:hover {
      background-color: #823215; }
  .footer-container .social-media {
    list-style: none;
    display: column;
    margin-top: 10%;
    margin-right: 40px; }
    .footer-container .social-media div {
      padding: 6px; }
    .footer-container .social-media .facebook {
      border-radius: 50%;
      border: 3px solid #823215;
      width: 60px;
      transition: all 0.5s; }
    .footer-container .social-media .facebook:hover {
      transform: scale(1.1); }
    .footer-container .social-media .instagram {
      border-radius: 50%;
      border: 3px solid #823215;
      width: 60px;
      transition: all 0.5s; }
    .footer-container .social-media .instagram:hover {
      transform: scale(1.1); }

/*---whatsapp---*/
.iconoWhatsapp {
  width: 65px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  border-radius: 60%;
  box-shadow: 0 1px 10px black;
  transition: all 0.5s; }

.iconoWhatsapp:hover {
  transform: scale(1.1); }

/*--Media Query---/*/
@media (max-width: 500px) {
  /*---header---*/
  .header {
    height: 500px; }
    .header .logo {
      width: 500px;
      margin-top: 6%; }
  .nav {
    height: 70px;
    background-color: #af4b2c;
    display: flex;
    justify-content: space-between;
    z-index: 999; }
  .item {
    margin-top: 12px; }
  a {
    font-size: 16px; }
  .little-logo {
    width: 75px;
    margin-right: 20px; }
    .little-logo .img-logo {
      padding: 5px; }
  .menu-btn {
    margin-top: 10px;
    color: white;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    cursor: pointer;
    transition: all 0.5s ease-in-out; }
  /*---Productos--*/
  .nuestros-productos h2 {
    font-family: Yerbaluisa;
    font-size: 50px; }
  .slick-center .pizza-title {
    font-size: 35px; }
  .slick-center p {
    font-size: 20px; }
  /*---Historia---*/
  .tituloHistoria h2 {
    font-size: 50px; }
  .historiaContainer {
    padding: 8px; }
  .historia1 {
    display: flex;
    flex-direction: column;
    padding: 0; }
    .historia1 .phistoria1 {
      font-size: 15px; }
  .historia2 {
    display: flex;
    flex-direction: column; }
    .historia2 .phistoria2 {
      font-size: 15px; }
  /*--Ubicación--*/
  .tituloUbicacion h2 {
    font-size: 50px; }
  /*---footer---*/
  .footer-container {
    background-color: #af4b2c;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
  .social-media {
    display: flex;
    margin-left: 100px; } }
