@charset "UTF-8";
/*----VARIABLES SASS---*/
@font-face {
  font-family: Yerbaluisa;
  src: url(../fonts/yerbaluisa_demo-font-FFP.ttf); }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

.header {
  background-image: url(../images/FONDO-Inicio-Página-Web.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 800px; }
  .header .nav {
    height: 70px;
    background-color: #ff743e;
    display: flex;
    justify-content: space-between; }
    .header .nav .item {
      color: white;
      font-size: 25px;
      margin: 0 auto;
      padding-top: 20px;
      margin-left: 200px; }
    .header .nav .nav-items {
      margin-right: 200px;
      margin-top: 25px; }
    .header .nav .nav-menu-link {
      color: black;
      line-height: 20px;
      text-decoration: none;
      text-transform: uppercase;
      font-family: Yerbaluisa;
      margin-left: 10px; }
  .header .container {
    display: flex;
    justify-content: center;
    align-items: center; }
  .header .logo {
    width: 500px;
    margin-top: 30px; }

.footer-container {
  width: 100%;
  background-color: #2a2727;
  bottom: 0; }
