@import "../scss/abstracts/vars";
@import "../scss/components/header";


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


.footer-container {
  width: 100%;
  background-color: rgb(42, 39, 39);
  bottom: 0;
}


