* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  background-color: rgb(31, 28, 28);
  .nav {
    h2 {
      color: white;
      display: flex;
      justify-content: center;
    }
    .nav-items {
     margin-top: 20px;
     display: flex;
     justify-content: center;
    }
    .nav-menu-link {
      color: white;
      text-decoration: none;
      font-size: 25px;
      margin-left: 10px;
    }
  }
}
