/*---titulo---*/
.tituloUbicacion {
    display: flex;
    justify-content: center;
    align-items: center;

    h2 {
        font-family: Yerbaluisa;
        font-size: 80px;
        padding: 0px 30px 0px 30px;
    }


}

.sectionUbicacion {
    padding: 8px;
    display: flex;
    align-content: center;
    flex-direction: column;

}


.map {


    height: 400px;
    width: 100%;
    border: 5px solid $color_1;

}

.footer-container {
    
    background-color: $color_1;
    bottom: 0;
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   
   
   


    .container-logo {
      justify-self: start;
       img {
        width: 160px;
       }
    }


    .footerSections {
        margin: 10px;
        justify-self: center;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        

        a {
           
            font-family: SemiCondensed;
            display: flex;
            flex-direction: column;
            white-space: nowrap;
            color: white;
            text-decoration: none;
            font-size: 20px;
            padding: 0px 40px 0px 40px;
            align-items: center;
            transition: all 0.4s;
            border-radius: 20px;
            align-self: center;
          

        }

        a:hover {
            background-color: $color_6;


        }
    }

    
    .social-media {
        display: flex;
       justify-content: center;
       justify-self: end;
    }
    .media {



        display: flex;
        flex-direction: column;
        justify-content: center;


        a {
            padding: 6px 0px 6px 0px;
        }




        .facebook {
            border-radius: 50%;
            border: 3px solid $color_6;
            width: 60px;
            transition: all 0.5s;
        }

        .facebook:hover {
            transform: scale(1.1);
        }

        .instagram {
            border-radius: 50%;
            border: 3px solid $color_6;
            width: 60px;
            transition: all 0.5s;
        }

        .instagram:hover {
            transform: scale(1.1);
        }
    }

}
