/*---titulo---*/
.tituloUbicacion {
    display: flex;
    justify-content: center;
    align-items: center;
      h2 {
          font-family: Yerbaluisa;
          font-size: 80px;
      }
}


.map {
    width: 98%;
    margin-left:20px;
    border: 3px solid $color_1;

}

.footer-container {
    background-color: $color_1;
    bottom: 0;
    display: flex;
     .footer-logo {
         width: 300px;
     }

     .social-media {
         list-style: none;
         display: column;
        
         .facebook {
             width: 80px;
         }
         .instagram {
             width: 80px;
         }
     }

}


/*---whatsapp---*/
.iconoWhatsapp {
    width: 80px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    border-radius: 50%;
    box-shadow: 0 1px 10px black;
    transition: all 0.5s;

}

.iconoWhatsapp:hover {
    transform: scale(1.1);

}