/*---titulo---*/
.tituloUbicacion {
    display: flex;
    justify-content: center;
    align-items: center;
      h2 {
          font-family: Yerbaluisa;
          font-size: 80px;
          padding: 0px 30px 0px 30px;
      }
}

.sectionUbicacion {
    padding: 8px;
    display: flex;
    align-content: center;
    flex-direction: column;
}


.map {
    
    
    height: 400px;
    width: 100%;
    border: 5px solid $color_1;

}

.footer-container {
    background-color: $color_1;
    bottom: 0;
    display: flex;
    justify-content: space-around;
     .footer-logo {
         width: 160px;
         margin-left: 125px;
     }


     .footerSections {
         margin: 10px;
         a {
             font-family: SemiCondensed;
             display: flex;
             flex-direction: column;
             color: white;
             text-decoration: none;
             font-size: 20px;
             padding: 6px;
             align-items: center;
             transition: all 0.4s;
             border-radius: 20px;
         }
         a:hover {
             background-color: $color_6;
              
             
         }
     }
     .social-media {
         list-style: none;
         display: column;
         margin-top: 10%;
         margin-right: 40px;
          div {
              padding: 6px;
          }
        
         .facebook {
             border-radius: 50%;
             border: 3px solid $color_6;
             width: 60px;
             transition: all 0.5s;
         }

         .facebook:hover{
            transform: scale(1.1);
         }
         .instagram {
            border-radius: 50%;
            border: 3px solid $color_6;
            width: 60px;
            transition: all 0.5s;
         }

         .instagram:hover{
            transform: scale(1.1);
         }
     }

    }



/*---whatsapp---*/
.iconoWhatsapp {
    width: 65px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    border-radius: 60%;
    box-shadow: 0 1px 10px black;
    transition: all 0.5s;

}

.iconoWhatsapp:hover {
    transform: scale(1.1);

}

