$breakpoints: (
  "xs": 0,
  "sm": 500px,
  "md": 720px,
  "lg": 960px,
  "xl": 1200px,
);

@mixin xs {
  @media (min-width: map-get($breakpoints, "xs")) {
    @content;
  }
}

@mixin sm {
  @media (max-width: map-get($breakpoints, "sm")) {
    @content;
  }
}

@mixin md {
  @media (min-width: map-get($breakpoints, "md")) {
    @content;
  }
}

@mixin lg {
  @media (min-width: map-get($breakpoints, "lg")) {
    @content;
  }
}

@mixin xl {
  @media (min-width: map-get($breakpoints, "xl")) {
    @content;
  }
}

@mixin breakpoint($bp: 0) {
  @media (min-width: $bp) {
    @content;
  }
}

@include sm {
  /*---header---*/
  .header {
    height: 500px;
    .logo {
      width: 500px;
      margin-top: 6%;
    }
  }

  .nav {
    height: 70px;
    background-color: $color_1;
    display: flex;
    justify-content: space-between;
    z-index: 999;
  }
  .item {
    margin-top: 12px;
  }
  a {
    font-size: 16px;
  }
  .little-logo {
    width: 75px;
    margin-right: 20px;

    .img-logo {
      padding: 5px;
    }
  }
  .menu-btn {
    margin-top: 10px;
    color: white;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
  }

  /*---Productos--*/
  .nuestros-productos {
    .icon-title {
       width:50px;
    }
    h2 {
      font-family: Yerbaluisa;
      font-size: 50px;
    }
  }
   .slick-center {
     .pizza-title {
       font-size: 30px;
       width: max-content;
     }
     p {
       font-size: 20px;
     }

     img {
       width: 200px;
     }
     
     
  }

  

  /*---Historia---*/
  .tituloHistoria {
    h2 {
      font-size: 50px;
    }
    .icon-title {
      width: 50px;
    }
  }
  .historiaContainer {
    padding: 8px;
  }
  
    
    
    
  
  .historia1 {
    display: flex;
    flex-direction: column;
     padding: 0;
     .phistoria1 {
       font-size: 15px;
     }
      
      
  }
  .historia2 {
    display: flex;
    flex-direction: column;
     .phistoria2 {
       font-size: 15px;
     }
  }

  /*--Ubicación--*/
  .tituloUbicacion {
    h2 {
      font-size: 50px;
    }
  }

  /*---footer---*/
  .footer-container {
    background-color: $color_1;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .footer-logo {
  }

  .social-media {
    display: flex;
  
    margin-left: 100px;
  }

}