/*---titulo---*/
.nuestros-productos {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;

  h2 {
    font-family: Yerbaluisa;
    font-size: 80px;
    padding: 0px 30px 0px 30px;
  }
}

/*---carrousel--*/
.for_slick_slider {
  margin: 50px 0px 40px 0px;
  display: flex;

  .items {
    height: 250px;
    margin: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
      border: 3px solid $color_1;
      width: 350px;
      height: 250px;
      transition: all linear 0.4s;
      box-shadow: 10px black;
    }

    .pizza-title {
      font-family: $tipografia_general;
      text-align: center;
      color: $color_1;
      transform: translateY(-50px);
      transition: all linear 0.4s;

    }

    p {
      width: 400px;

      transition: all linear 0.4s;
    }
  }
}

.slick-track {
  height: 600px;

  .pizza-title {
    font-size: 30px;
    width: max-content;

  }

  img {
    box-shadow: 10px black;
  }
}

.slick-center {
  .pizza-title {
    transform: translateY(-50px);
    font-size: 40px;


  }

  p {

    transform: translateY(60px);

    font-family: $tipografia_general;
    font-size: 25px;

    transition: all 0.4s ease-in-out;

  }

  img {
    transform: scale(1.2);
    box-shadow: 0 5px 10px black;
  }
}

.slick-arrow {
  width: 50%;
  margin-top: 8%;
}