/*---titulo---*/
.nuestros-productos {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;

  h2 {
    font-family: Yerbaluisa;
    font-size: 80px;
    padding: 0px 30px 0px 30px;
  }
}

/*---carrousel--*/
.for_slick_slider {
  margin: 50px 0px 40px 0px;
  display: flex;

  .items {
    height: 250px;
    margin: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    object-fit: cover;

    img {
      border: 3px solid $color_1;

      transition: all linear 0.4s;
      box-shadow: 10px black;
    }

    .pizza-title {
      display: flex;
      align-items: center;
      display: inline-block;
      font-family: $tipografia_general;
      color: $color_1;

      transition: all linear 0.4s;
    }

    p {
      width: 400px;

      transition: all linear 0.4s;
    }
  }
}

.slick-track {
  height: 500px;

  .pizza-title {
    text-align: center;
    transform: translateY(-20px);
    font-size: 25px;
    width: max-content;
    opacity: calc(50%);
  }

  img {
    box-shadow: 10px black;
    opacity: calc(50%);
  }

  p {
    visibility: hidden;
    text-align: center;
  }
}

.slick-center {
  .pizza-title {
    text-align: center;
    transform: translateY(-50px);
    font-size: 40px;
    opacity: calc(100%);
  }

  p {
    transform: translateY(60px);

    font-family: $tipografia_general;
    font-size: 25px;

    transition: all 0.4s ease-in-out;
  }

  p {
    transform: translateY(60px);
    font-family: $tipografia_general;
    font-size: 25px;
    visibility: visible;
    transition: all 0.4s ease-in-out;
  }

  img {
    transform: scale(1.4);
    box-shadow: 0 5px 10px black;

    opacity: calc(100%);
  }
}

.slick-arrow {
  width: 65%;
  margin-top: 6%;
}
